@tailwind base;
@tailwind components;
@tailwind utilities;

.required:after {
    content:" *";
    color: red;
    font-size: 14px;;
}

.vsp-overlay{
    z-index: 100 !important;
}

.vsp.vsp--right-side{
    z-index: 100 !important;
}